.banner-area {
    position: relative;
    background: url(Backgrounds/pexels-photo-110854.jpeg);
    border: 3px solid;
    border-color: purple;
    padding: 15px;
    width: 100%;
    height: 125px;
}