.logo{
    padding: 0px;
    width: 30%;
    font-style: italic;
    font-size: 8px; color: white;
}

.teams-name-area{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 100; color: white;
    position: absolute; top: 25%;
    padding: 0px;
    width: 100%;
}