.logo{
    padding: 0px;
    width: 30%;
    font-style: italic;
    font-size: 8px; 
    color: white;
}

.teams-name-area{

    font-style: italic;
    font-weight: bold;
    font-size: 100; 
    color: white;
    position:relative;
    top: 25%;
    left: 18%;
    margin: 0 5% 0 2% ;
    width: 90%;
}