footer{
    background: url(/src/Assets/Backgrounds/pexels-photo-110854.jpeg);
    border: 3px solid;
    border-color: purple;
    width: 100%;
    height: 20%;
    margin-top: 10px;
    padding: 10px;
}

.copyright-logo{
    color: white;
    font-size: small;
}

.footer-team-name{
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    color: white;
    text-align: center;
}